body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 높이를 100%로 설정 */
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

header {
    background: #b93234; /* 교색*/
    color: #fff;
    padding: 1rem 0;
}

h1 {
  margin: 0;
}

main {
  flex: 1; /* 남은 공간을 차지 */
  padding: 2rem;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background: #46515b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.download-button:hover {
  background: #b93234;
}

.bug_report-button {
    display: inline-block;
    padding: 10px 20px;
    background: #46515b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.bug_report-button:hover {
  background: #b93234;
}


textarea {
  width: 100%;
  max-width: 400px;
  height: 100px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

footer {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-top: 20px; /* 추가로 margin-top은 삭제 가능 */
}
hr {
  border: 0;
  height: 3px;
  background-color: #000; /* 회색 선 */
  margin: 20px 0; /* 위아래 간격 */
}
